body {
    background-color:#222930;
}

#header {
	background-color:#4EB1BA;
    height:65px;
}
#title {
	color:#E9E9E9;
    text-align:center;
    font-size: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top:12px;

    
}
.btn {
    background-color: #4EB1BA;
    color: #E9E9E9;
	margin:4px;
}
